/***** BEGIN Red Menu Styles *****/

nav {
    border-radius: 3px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    border-left: 1px solid #fff;
}

/* Top level */
nav li {
    list-style: none;
    float: left;
    border-right: 1px solid #fff;
    position: relative;
}

nav li.first, nav li.first a {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
}

nav li.last, nav li.last a {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
}

nav li.drop a {
    padding-right: 30px;
}

nav li a {
    display: block;
    padding: 9px 23px 10px;
    text-decoration: none;
    background-repeat: repeat-x;
    font-size: 12px;
    text-shadow: 0px -1px 0px #000;
}

nav li a {
    background-position: 0px 0px;
}

nav li a:hover, nav li.active a {
    background-position: 0px -36px;
}

nav li a:active {
    background-position: 0px -72px;
}

nav .dropdown {
    display: block;
    float: right;
    width: 7px;
    height: 5px;
    background: url(../img/drop-down.png) no-repeat;
    margin: -20px 15px 0px 12px;
}

/* Drop down */
nav li ul {
    opacity: 0;
    position: absolute;
    top: 38px;
    left: 25%;
    padding: 12px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
    z-index: 100;
}

nav li ul li {
    border-right: 0px;
    float: none !important;
    border-bottom: 1px solid #4b1010;
    width: 125px;
}

nav li ul li:last-child {
    border-bottom: 0px;
}

nav li ul li a {
    background: none !important;
    border-left: 0px;
    border-top: 0px;
    padding: 10px 0px;
    font-size: 11px
}

nav li ul li a:hover {
    opacity: 0.5;
}

nav li ul li.arrow {
    background: url(../img/arrowtop.png) top left no-repeat;
    border-bottom: 0px;
    height: 10px;
    margin-top: -22px;
    margin-bottom: 10px;
}

/***** END REd Menu Styles *****/