body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    line-height: normal !important;
}

.contact_btn {
    background-color: #fff;
    border: 5px solid #000;
    color: #000;
}

.contact_btn:hover {
    color: #fff;
    background-color: #000;
}

.transparent_border {
    border: 1px solid transparent;
}

.effect-spin-in {
    -webkit-animation: spinin 0.5s ease-in;
    animation: spinin 0.5s ease-in;
}

.effect-flip-in {
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in;
    transition: all 1s ease-in;
    -webkit-animation: flipin 0.5s ease-in;
    animation: flipin 0.5s ease-in;
}

.effect-fade-in {
    -webkit-animation: fadein 1s ease-in;
    animation: fadein 1s ease-in;
}

@keyframes fadein
 {
  from
  {
    opacity:0;
  }
  to
  {
  opacity:1;
  }
 }
@-webkit-keyframes fadein
 {
  from
  {
    opacity:0;
  }
  to
  {
  opacity:0;
  }
 }
.effect-fly-in {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-animation: flyin 0.5s ease-in;
    animation: flyin 0.5s ease-in;
}

.effect-float-in {
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    -webkit-animation: floatin 1s ease-in;
    animation: floatin 1s ease-in;
}

.effect-turn-in {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in;
    -webkit-animation: turnin 0.5s ease-in;
    animation: turnin 0.5s ease-in;
}

.effect-fold-in {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-animation: foldin 0.5s ease-in;
    animation: foldin 0.5s ease-in;
}

.effect-puff-in {
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.effect-expand-in {
    -webkit-animation: expandin 1.5s ease-in;
    animation: expandin 1.5s ease-in;
}

@-webkit-keyframes flipin
{
    from {
    -webkit-transform:rotateY(90deg);
    }
    to {
    -webkit-transform:rotateY(0deg);
    }
}
@keyframes flipin
{
    from {
        -moz-transform:rotateY(90deg);
    }
    to {
        -moz-transform:rotateY(0deg);
    }
}
@-webkit-keyframes flyin
{
  from {
  -webkit-transform:translateX(50%);
    }
    to {
    -webkit-transform:translateX(0%);
    }

 }
@keyframes flyin
{
  from {
        -moz-transform:translateX(50%);
    }
    to {
        -moz-transform:translateX(0%);
    }

 }
@-webkit-keyframes turnin
{
  from {
     opacity:0;
  -webkit-transform:translate(-100px,-350px); rotate(60deg);
    }
    to {
        opacity:1;
    -webkit-transform:translate(0%) rotate(0deg);
    }
}
@keyframes turnin
{
  from {
        -moz-transform:translate(200px,-1050px) rotate(60deg);
    }
    to {
        -moz-transform: translate(0%)rotate(0deg);
    }
}
@-webkit-keyframes foldin
{
    from {
    -webkit-transform:rotateY(90deg) translate(-40%,0%);
    }
    to {
    -webkit-transform:rotateY(0deg) translate(0%);
    }
}
@keyframes foldin
{
    from {
        -moz-transform:rotateY(90deg) translate(-40%,0%);
    }
    to {
        -moz-transform:rotateY(0deg) translate(0%);
    }
}
@-webkit-keyframes expandin
{
from{
       -webki-transform: scale(0.1);
}
to
{
 -webki-transform: scale(1);
}
}
@keyframes expandin
{
from{
       transform: scale(0.1);
}
to
{
transform: scale(1);
}
 }

@-webkit-keyframes floatin
{
from{
       opacity:0;
       -webkit-transform:translateX(50%);
}
to
{
    opacity:1;
       -webkit-transform:translateX(0%);
}
}
@keyframes floatin
{
from{
              opacity:0;
        -moz-transform:translateX(50%);
}
to
{
        opacity:1;
       -moz-transform:translateX(0%);
 }
 }

@-webkit-keyframes spinin
{
from{
       opacity:0;
       -webkit-transform:rotate(-720deg);
}
to
{
    opacity:1;
       -webkit-transform:rotate(0deg);
}
}
@keyframes spinin
{
from{
        -moz-transform:rotate(-720deg);
}
to
{
       -moz-transform:rotate(720deg);
 }
 }
.lifted {
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.lifted:before,
.lifted:after {
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);

    position: absolute;
}

.lifted:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    position: absolute;
}

.img-popup-div {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #1E90FF;
}

.text-popup-div {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #1E90FF;
}

.video-popup-div {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #1E90FF;
}

.font-popup-div {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #1E90FF;
}

.popup_ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

.popup_list {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #C0C0C0;
}

.img-setting-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
}

.img-animation-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #000;
}

.menu_cross_btn {
    cursor: context-menu;
    text-align: center;
    float: right;
    width: 30px;
    border-left: 1px solid #C0C0C0;
}

.menu_cross_btn:hover {
    color: #fff;
    background-color: #C0C0C0;
}

.popup_header {
    line-height: 30px;
    border-bottom: 1px solid #C0C0C0;
}

.padding_left_10 {
    padding-left: 10px;
}

.img-animation-div {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    text-align: center;
}

.img-style-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #000;
}

.img-personalize-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #000;
}

.img-personalize-div {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #C0C0C0;
    float: left;
    height: 65px;
    width: 125px;
    border-radius: 5px;
    text-align: center;
}

.video-url-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #000;
}

audio {
    width: 100%;
}

.element-draggable {
    cursor: move;
}

.drag-element {
    padding: 0px;
}

.personalize-style-btn {
    width: 90%;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    height: 40px;
}

.img-style-btn-div {
    padding-top: 10px;
    border: 1px solid #C0C0C0;
    background-color: #E8E9EB;
    width: 90%;
    height: 30px;
    border-radius: 5px;
}

.change-img-style-btns {
    width: 50%;
}

.cancel-ok-btn {
    margin-top: 20px;
    float: left;
    height: 40px;
    width: 94%;
}

.margin-top {
    margin-top: 10px;
}

.scroller-div {
    height: 200px;
    overflow: auto;
    padding: 0 10px;
}

.img-editor {
    display: none;
}

.change-images-popup {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #F5F3F4;
    color: #000;
}

.resizable {

    border: 1px solid #bb0000;
}

.resizable img {
    width: 100%;
}

.ui-resizable-handle {
    background: #f5dc58;
    border: 1px solid #FFF;
    width: 9px;
    height: 9px;
    z-index: 0 !important;
}

.ui-resizable-se {
    right: -5px;
    bottom: -5px;
}

.ui-rotatable-handle {
    background: #f5dc58;
    border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    height: 10px;
    left: 50%;
    margin: 0 0 0 -5px;
    position: absolute;
    top: -5px;
    width: 10px;
}

.ui-rotatable-handle.ui-draggable-dragging {
    visibility: hidden;
}

.temp_menu {
    display: block;
}

.border {
    border: 1px solid red;
}

.menu_popup_div {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #1E90FF;
    z-index: 2 !important;
}

.menu_popup_ul {
    list-style-type: none !important;
    margin-top: 0 ! important;
    padding: 0 ! important;
}

.menu_setting_popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
}

.menu_popup_list {
    cursor: pointer ! important;
    padding: 5px ! important;
    font-size: 14px;
    border-bottom: 1px solid #C0C0C0 ! important;
}

.img_setting_popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
}

.animation_popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #000;
}

.sort {
    display: block;
}

.menu-setting-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
}

.menu_popup_header {
    line-height: 30px;
    border-bottom: 1px solid #C0C0C0;
}

.cross_btn {
    cursor: context-menu;
    text-align: center;
    float: right;
    width: 30px;
    border-left: 1px solid #C0C0C0;
}

.cross_btn:hover {
    color: #fff;
    background-color: #C0C0C0;
}

.menu-style-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #000;
}

.menu_padding_left_10 {
    padding-left: 10px;
}

.menu_change-style-btns {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E8E9EB;
    text-indent: 10px;
    padding-top: 12px;
}

.edit_button {
    float: right;
    visibility: hidden;
}

.menu_change-style-btn {
    width: 90%;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    height: 40px;
}

.menu-animation-popup {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    color: #000;
}

.menu-sample {
    width: 100px;
    height: 30px;
}

.menu-animation {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    height: 50px;

}

.menu_color_div {

    height: 272px;
    width: 315px;
    padding: 0px;

    border: 1px solid #c0c0c0;
    border-radius: 5px;

}

.back_color {
    width: 160px;
    text-align: center;
    float: left;

}

.menu_color {
    width: 100%;
    top: 0px;
}
